<nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
    
    <div class="d-flex align-items-center">
        <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">
        
        <ul class="nav flex-column pt-3 pt-md-0">
            {% load static %}
            <li class="nav-item">
                <a href="{% url 'index_admin' %}">
                    <img src="{% static 'img/logoEnBlanco.png' %}" alt="Logo Motolux" class="logo">
                </a>
            </li>


            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="{% url 'tablas_bootstrap' %}" class="nav-link"></a>
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item {% if 'dashboard' in segment %} active {% endif %}">
                <a href="{% url 'transactions' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                            <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
                        </svg>
                    </span>
                    <span class="sidebar-text">trans</span>
                </a>
            </li>
            <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
                <a href="{% url 'productos' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="bi bi-cart me-2"></i>
                    </span>
                    <span class="sidebar-text">Productos</span>
                </a>
            </li>
            <li class="nav-item {% if 'transactions' in segment %} active {% endif %}">
                <a href="{% url 'categorias' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="bi bi-list-ul me-2"></i>
                    </span>
                    <span class="sidebar-text">categorias</span>
                </a>
            </li>
            <li class="nav-item ">
                <a href="{% url 'usuarios' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="bi bi-people me-2"></i>
                    </span>
                    <span class="sidebar-text">Usuarios</span>
                </a>
            </li>

            <li class="nav-item {% if 'pedidos' in segment %} active {% endif %}">
                <a href="{% url 'pedidos' %}" class="nav-link">
                    <span class="sidebar-icon">
                        <i class="bi bi-cart me-2"></i>
                    </span>
                    <span class="sidebar-text">Pedidos</span>
                </a>
            </li>


            


        </ul>
    </div>
</nav>