<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motolux</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>
    
    <header class="header navbar navbar-expand-lg">
        <div class="container-fluid d-flex align-items-center">
            <!-- Logo (Izquierda) -->
            <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'img/logoEnBlanco.png' %}" alt="Logo Motolux" class="logo">
            </a>
        </div>
    </header>
    

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>