<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" >
</head>
<body>
   
     
    <header>
        <ul class="nav-lista">
            <li class="nav-item">
                <a href="{% url 'index_admin' %}">Inicio</a></li>
            <li class="nav-item">
                <a href="{% url 'productos' %}">Productos</a></li>
            <li class="nav-item">
                <a href="{% url 'categorias' %}">Categorías</a></li>
            <li class="nav-item">
                <a href="{% url 'usuarios' %}">Usuarios</a></li>
            <li class="nav-item">
                <a href="{% url 'index_admin' %}">Pedidos</a></li>
        </ul>
    </header>  
     {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% block content %}
    {% endblock %}

</body>
</html>